.nav-item{
    margin: 0px 20px 0;
}

nav{
    background-color: rgb(234, 241, 241);
}


.content {
  
    max-width: 95%;
    margin: auto;
    margin-top: 20px;
  
   
  }


  

.usermenu{
 position: absolute;
 right: 90px;
}

/* allprojects */



@media only screen and (max-width: 990px) {
    
    .logosona{

        position:relative;
        left: 50%;
        transform: translate(-50%);        
        
    }

    .icon1{

        
        margin-bottom: 90%;
        
}
.icon2{

        
    margin-top: 90%;
    
}
    
  }