html{
    height: 100%;
}

*{
  
    box-sizing: border-box;
    
}
body{
  
    
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-color: #ffac81 !important;
background-image: linear-gradient(315deg, #ffac81 0%, #ff928b 74%) !important;
background-size: cover;


    
    


}
.container{
   
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 

}
.publication{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin:10px;
    width:600px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;    
   
}
.fa-user{

    background-color: #f5821f;
    border-radius: 50%;
    
}
.trait { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #000000, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #000000, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #000000, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #000000, #f0f0f0);  
  }
  

  
.btnfich{
    width: 100%;
    height: 70px;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
  padding: 1.5rem 2rem;
  
  color: white;
  font-size: 1.2rem;
  
  transition: all .2s ease-in;
    text-align: left !important;
    border-color: #505050 !important;
    
   
    
   
    
}  

.btnfich:hover{
  
  filter: brightness(1.2);

}

.imgbtn{
    height: 30px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .fade:not(show){
      opacity:100% !important;
  }

h8{
  color: #999;
  
}