
    
 


    
    



.container{
   
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 

}
.publication{
  position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin:10px;
    width:600px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;    
   
}
.publication .fa-user{

   
    border-radius: 50%;
    
}
.trait { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #000000, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #000000, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #000000, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #000000, #f0f0f0);  
  }
  

  
.btnfich{
  margin-top: 10px;
    width: 100%;
    min-height: 70px;
    background-color: #eeeeee0b;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;

  padding: 1.5rem 2rem;
  
  color: white;
  font-size: 1.2rem;
  
  transition: all .2s ease-in;
    text-align: left !important;
    
    border-color: #838282 !important;

   
    
   
    
}  

.btnfich:hover{
  
  filter: brightness(1.2);

}

.imgbtn{
    height: 30px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white !important;
    background-color: rgba(0,0,0,0.4) ;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  @media (max-width: 560px){
    .prev, .next {
      padding: 8px;
      font-size: 8px;
      margin-top: -35px;
    }
    .numbertext {
      font-size: 10px !important;
      padding: 0 !important;
    }
  }
  @media (max-width: 350px){
.col p{
  font-size: 11px !important;
}
.col h5{
  font-size: 12px !important;
}
.col h6{
  font-size: 10px !important;
}
.col h8{
  font-size: 10px !important;
}
.col h5{
  font-size: 12px !important;
}
.publication{
  margin-left:0 !important;
  margin-right: 0 !important;
  
}
.card-body{
  padding: 1px !important;
}
.input-group{
  margin: auto !important;
  width: 75% !important;
}
.input-group input{
  font-size: 13px !important;

}
.input-group button{
  font-size: 13px !important;
}
.user a{
  font-size: 10px !important;
}
  }

  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.9);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  .col .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .col .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .col .fade:not(show){
      opacity:100% !important;
  }

  .col h8{
  color: #999;
  
}
.publication_header{
  position: relative;
}
.supp-public{
  position: absolute;
  top:10px;
  right:10px;
}
.iconex{
  color: red;
}