@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

html,body{
    background-image: url('/img/hydrocarbures-1.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    background-position: center;
    }
    
    .container{
    height: 100%;
    align-content: center;
    
    }
    
    .card{
    min-height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
     box-shadow: 0px 0px 12px 12px 
    rgb(54, 53, 53);
    }
    
    
    
    .card-header h3{
    color: white;
    }
    .logo{
        width: 80px;
    }
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
   
    
    
    
    .remember{
    color: white;
    }
    
   
    
    .login_btn{
    color: black;
    background-color: #f5821f
    ;
    border-radius: 50px;
    width: 180px;
    height: 50px;
    margin-top: 18px;
    margin-left: 25%;
    }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }
    
    .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }
    
    .card-body{
        margin-top: 5%;
    
    }
    
     .input-data{
        height: 40px;
        width: 100%;
        position: relative;
      }
     
       .input-data input{
           background-color: transparent !important;
           outline: none;
           color: white;
        height: 100%;
        width: 100%;
        border: none;
        font-size: 17px;
        border-bottom: 2px solid silver;
     
      }
      .input-data input:focus ~ label,
      .input-data input:valid ~ label{
        transform: translateY(-20px);
        font-size: 15px;
        color: chocolate;
      }
       .input-data label{
        position: absolute;
        bottom: 10px;
        left: 0;
        color: grey;
        pointer-events: none;
        transition: all 0.3s ease;
      }
      .input-data .underline{
        position: absolute;
        height: 2px;
        width: 100%;
        bottom: 0;
      }
      .input-data .underline:before{
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background: chocolate;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease;
      }
      .input-data input:focus ~ .underline:before,
      .input-data input:valid ~ .underline:before{
        transform: scaleX(1);
      }
      .réinitialiser-a{
        color: chocolate;
        text-decoration: none;
      }
      .réinitialiser-a:hover{
        color: chocolate;
      }